<!-- base.html -->
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>{% block title %}PhotoDump{% endblock %}</title>
</head>
<body>
    
    
    <nav class="navbar">
        <div class="navbar-container">
            <a href="{% url 'home' %}" class="navbar-logo"><header>
                <h1>PhotoDump</h1>
            </header></a>
            <nav class="navbar">
                <div class="navbar-container">
                    <ul class="navbar-menu">
                        {% if not user.is_authenticated %}
                            <li><a href="{% url 'accounts:login' %}">Login</a></li>
                            <li><a href="{% url 'accounts:register' %}">Register</a></li>
                        {% else %}
                            <li><a href="{% url 'home' %}">Home</a></li>
                            <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
                            <li><a href="{% url 'accounts:profile' %}">Profile</a></li>
                            <li><a href="{% url 'friends' %}">Friends</a></li>
                            <li><a href="{% url 'photo-recommendations' %}">You may like</a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
            
        </div>
    </nav>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>© 2024 PhotoDump. All rights reserved.</p>
    </footer>
</body>
</html>
