<!-- friends.html -->

{% extends 'base.html' %}

{% block content %}
<h1>Your Friends</h1>

<!-- Search form -->
<form method="get" action="{% url 'friends' %}">
    {{ form.as_p }}
    <button type="submit" name="search">Search</button>
</form>

<!-- Search results -->
{% if search_results %}
    <h2>Search Results</h2>
    <ul>
        {% for user in search_results %}
            <li>
                <!-- Print full name and email for search results -->
                {{ user.first_name }} {{user.last_name}} - {{user.email}}
                <form method="post" action="{% url 'friends' %}">
                    {% csrf_token %}
                    <button type="submit" name="add_friend" value="{{ user.id }}">Add Friend</button>
                </form>
            </li>
        {% endfor %}
    </ul>
{% endif %}

<!-- Listing current friends -->
<h2>Your Friends:</h2>
<ul>
    {% for friend in friends %}
        <li>{{ friend.email }}</li>
    {% endfor %}
</ul>

<h2>Friend Recommendations</h2>
<ul>
    {% for user in recommendations %}
    <li>
        {{ user.first_name }} {{user.last_name}} - {{user.email}}
        <form method="post" action="{% url 'friends' %}">
            {% csrf_token %}
            <button type="submit" name="add_friend" value="{{ user.id }}">Add Friend</button>
        </form>
    </li>
    {% endfor %}
</ul>

{% endblock %}
